@font-face {
    font-family: "GoodTimes";
    src: url(../fonts/good-times-rg.otf);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: "GoodTimes";
}

/* HEADER */

header {
    width: 100%;
    height: 50px;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(26, 26, 40, 1) 100%, rgba(73, 77, 96, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.title-header {
    color: #82A6CB;
    font-size: min(5vw, 1.2em);
    margin-left:10px;
}


nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    }

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: #82A6CB;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

.menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

/* Media Query for Header */
@media screen and (max-width: 600px) {
    
    nav {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #1b1b32;
        z-index: 1;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 28px;
        color: #82A6CB;
        cursor: pointer;
    }
}

@media screen and (max-width: 373px){
    .title-header {
        display: none;
    }
}
    

/* MAIN */

main {
    padding-top: 50px;
}

/* BANNER */

.banner {
    display:flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(73, 77, 96, 1) 0%, rgba(26, 26, 40, 1) 100%);
}

.banner-text {
    color: #82A6CB;
    flex-direction: column;
    width: 80%;
    margin: 0px auto 10px auto;
    padding: 40px;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(26, 26, 40, 1) 100%, rgba(73, 77, 96, 1) 100%);
    border-radius: 40px;
}

.banner-text p {
    font-size: 16px;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    font-size: 36px;
    color: white;
    cursor: pointer;
}


.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
}

.dot:first-child {
    margin-left: 0;
}

.dot:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 600px) {
    .banner{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .banner-text {
        height: 100%;
        width: 100%;
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: unset;
    }

    .navigation {
        bottom: 20px;
    }

    .prev {
        margin-right: 10px;
    }

    .next{
        margin-left:10px
    }

    .dot{
        display:none;
    }
}

