@font-face {
    font-family: "GoodTimes";
    src: url(fonts/good-times-rg.otf);
}

body{
    margin: 0;
    font-family: "GoodTimes";
}

/* HEADER */

header {
    width: 100%;
    height: 50px;
    background-color: #214177;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.title-header {
    color: #82A6CB;
    font-size: min(5vw, 1.2em);
    margin-left:10px;
}


nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    }

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: #82A6CB;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: 50px;
  }

/* SECTION 1 */

.first-section {
    padding: 20px;
    height: 50%;
    background: linear-gradient(326deg, rgba(2, 0, 36, 1) 0%, rgba(28, 108, 182, 1) 81%, rgba(0, 212, 255, 1) 100%);
    position: relative;
}

.section-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto 10px auto;
    padding: 20px;
    background: linear-gradient(326deg, rgba(87, 69, 219, 1) 0%, rgba(172, 100, 215, 1) 51%, rgba(110, 191, 208, 1) 89%);
    border-radius: 40px;
}

.section-text h1 {}

.section-text p {
    font-size: small;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    font-size: 36px;
    color: white;
    cursor: pointer;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
}

.dot:first-child {
    margin-left: 0;
}

.dot:last-child {
    margin-right: 0;
}